  <div class="container">
    <div class="row">
      <div class="card-container">
      <% @cocktails.each do |cocktail| %>
        <div class="style card">
          <div class="wrapper" style="background: url('<%= cl_image_path (cocktail.photo) %>') center / cover no-repeat;">
            <div class="header">
              <ul class="menu-content">
                <li><a href="#"><i class="far fa-bookmark"></i></a></li>
                <li><a href="#"><i class="fas fa-heart"></i><span>18</span></a></li>
                <li><a href="#"><i class="far fa-comment"></i><span><%= cocktail.reviews.count %></span></a></li>
              </ul>
            </div>
            <div class="data">
              <div class="content">
                <span class="category"><%= cocktail.category %></span>
                <h1 class="title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h1>
                <p class="text"><%= cocktail.description.first(40) %></p>
                <a href="#" class="button">Recipe</a>
              </div>
            </div>
          </div>
        </div>
      <% end  %>
      </div>
    </div>
  </div>
