<header class="site-header">

  <div class="header-content">

    <div class="title-area">

      <h1><%= @cocktail.name  %> -
        <% @cocktail.average_rating.times do %>
          <span class='glyphicon glyphicon-star'></span>
          <% end %></h1>

      <p><%= @cocktail.description  %></p>

      <div class="byline">
        <span>Category</span>
        <%= @cocktail.category  %>
      </div>

    </div>

    <nav role='navigation' class="toc">
      <ul>
        <% @doses.each do |dose| %>
        <li><a><%= dose.ingredient.name %> | <%= dose.description %> |
          <%= link_to 'Edit', edit_cocktail_dose_path(@cocktail, dose) %> <%= link_to "Delete", cocktail_dose_path(@cocktail, dose),
          method: :delete,
          data: { confirm: "Are you sure?" } %></a></li>
        <% end %>
      </ul>
    </nav>

  </div>

  <div class="hero-graphic" style="background-image: url('<%= cl_image_path (@cocktail.photo) %>');"></div>

</header>

<main class="main-content">

  <article id="reviews">

    <h2>Reviews</h2>

    <p>
  <strong>Reviews</strong>
  <table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.content  %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</p>

  </article>

  <!-- <article id="history">

    <h2>History</h2>

    <p><%= @cocktail.history  %></p>

  </article> -->

  <article id="dose">

    <h2>Add Dose</h2>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, collection: Ingredient.all %>
      <%= f.input :description %>
      <%= f.button :submit, "Add a dose", class: "btn btn-primary" %>
      <% end %>

  </article>

  <article id="review">

    <h2>Add Review</h2>

    <%= simple_form_for [@cocktail, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.button :submit, "Add a review", class: "btn btn-primary" %>
    <% end %>

  </article>

</main>

<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail) %> | <%= link_to 'Edit cocktail', edit_cocktail_path(@cocktail) %> | <%= link_to 'Go back', cocktails_path %>






